@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
   --primary-color: #10b981;
   --primary-color-hover: #059669;
   --box-color: #fff;
}

/* ********************************************************** */
/* React QuillText Edito Style */
/* ********************************************************** */

.quill {
   min-height: 100%;
   position: relative;
   display: flex;
   flex-direction: column-reverse;
}

.quill .ql-toolbar {
   border-color: transparent !important;
   position: sticky;
   bottom: 10px;
   width: fit-content;
   z-index: 10;
   margin: 0 auto;
}

.ql-snow.ql-toolbar button:hover,
.ql-snow .ql-toolbar button:hover,
.ql-snow.ql-toolbar button:focus,
.ql-snow .ql-toolbar button:focus,
.ql-snow.ql-toolbar button.ql-active,
.ql-snow .ql-toolbar button.ql-active,
.ql-snow.ql-toolbar .ql-picker-label:hover,
.ql-snow .ql-toolbar .ql-picker-label:hover,
.ql-snow.ql-toolbar .ql-picker-label.ql-active,
.ql-snow .ql-toolbar .ql-picker-label.ql-active,
.ql-snow.ql-toolbar .ql-picker-item:hover,
.ql-snow .ql-toolbar .ql-picker-item:hover,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected,
.ql-snow .ql-toolbar .ql-picker-item.ql-selected {
   color: var(--primary-color-hover) !important;
}

.ql-picker-options {
   transform: translateY(-115%);
}

.quill .ql-container {
   box-sizing: border-box;
   border-radius: 0.75rem;
   background-color: var(--box-color);
   border-color: transparent;
   width: 100%;
   max-width: 700px;
   margin: 0 auto;
   min-height: 100vh;
   padding: 1.5rem 1.5rem 65px 1.5rem;
   margin-bottom: -1rem;
   box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.ql-editor::-webkit-scrollbar {
   width: 4px;
}

.ql-editor::-webkit-scrollbar:hover {
   width: 10px !important;
}

.ql-editor::-webkit-scrollbar-track {
   background-color: var(--box-color);
   border-radius: 100px;
}

.ql-editor::-webkit-scrollbar-thumb {
   border-radius: 100px;
   background: var(--primary-color);
}

/* ********************************************************** */
/* ********************************************************** */
